@import "../../variables";

.message {
    margin-bottom: 3rem;
    width: 100%;
    font-size: $font-size-small;

    &__icon {
        display: inline-block;
        padding-right: 1rem;
        vertical-align: top;
        width: 3.5rem;
        height: 3.5rem;
    }

    &__text {
        display: inline-block;
        width: calc(100% - 6rem);
    }

}