@import "../../variables";

.member-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;

    &--blue {
        border-color: $color-blue;
    }

    &--orange {
        border-color: $color-orange;
    }

    &--pink{
        border-color: $color-pink;
    }
}