@import "../../variables";

.header {
    font-family: $open-sans;
    position: relative;

    &__title {
        font-size: $font-size-large;
        font-weight: $font-weight-semibold;
        color: $color-gray-dark;
    }

    &__people-counter {
        color: $color-gray-light2;
        font-size: $font-size-small;
    }

    &__back-button {
        position: absolute;
        top: 0.1rem;
        left: 1rem;
        width: 2.1rem;
        height: 2.1rem;

        path {
            fill: $color-blue;
        }
        
    }
}