@import "../../../variables";

.message-content {
    color: white;
    padding: 1rem;
    border-radius: .6rem;
    font-family: $open-sans;

    &--blue {
        background-color: $color-blue;
    }

    &--pink {
        background-color: $color-pink;
    }

    &--orange {
        background-color: $color-orange;
    }

    &--white {
        background-color: white;
        color: $color-gray-light2;
    }

    &--white &__text {
        color: $color-gray-dark;
    }

    &__header {
        font-size: $font-size-small;

        &::after {
            display: block;
            content: "";
            clear: both;
        }
    }

    &__user-name {
        float: left;
        text-transform: uppercase;
    }

    &__time {
        float: right;
    }

    &__text {
        margin-top: 2rem;
    }
}