@import "../variables";

.messenger {
	position:        absolute;
	top:             0;
	left:            0;
	bottom:          0;
	right:           0;
	display:         flex;
	flex-direction:  column;
	justify-content: center;
    align-items:     center;
    
    &__frame {
        display:          flex;
        flex-direction:   column;
        border-radius:    0.5rem;
        width:            50%;
        max-width:        31rem;
        height:           80%;
        max-height:       54rem;
        background-color: #ffffff;
        box-shadow:       0 4px 8px 0 rgba(black, 0.2), 0 6px 20px 0 rgba(black, 0.19);
    }

    &__header {
        padding:       1.5rem 1rem;
        text-align:    center;
        border-bottom: 2px solid $color-gray-light;
    }

    &__members {
        padding:    1rem 1rem;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        min-height: 4rem;
    }

    &__add-member-button {
        width: 2rem;
        height: 2rem;

        path {
            fill: $color-blue;
        }
    }

    &__message-list {
        flex:             1 1 auto;
        background-color: $color-gray-light;
        overflow-y:       scroll;
    }

    &__message-list__wrapper {
        padding:       3rem 0 0 1.4rem;
        display:       flex;
        flex-flow:     row wrap;
        align-content: flex-end;
    }

    &__message-list__item {
        margin-bottom: 3rem;
    }

    &__action-bar {
        padding: 1rem;
    }

}

