.action-bar {
    display: flex;

    &__input {
        flex: 1 1 auto;
        margin-right: 1rem;
    }

    &__btn {
        border: none;
        background: transparent;
        transition: transform .1s;

        &:focus, &:active {
            outline: none;
        }

        &:hover {
            transform: translateY(-.3rem);
        }

        &:active {
            transform: translateY(-.1rem);
        }
    }
}