@import "../../../variables";

.smiley-input {
    position: relative;

    &__input {
        width: 90%;    
        background-color: $color-gray-light;
        color: $color-gray;
        padding: 1.3rem;

        border-radius: 10rem;
        border-style: none;

        &:active, &:focus {
            outline:none;
            box-shadow: 0 0 1rem rgba(black, .3);
        }
    }

    &__icon-wrapper {
        position: absolute;
        top: .3rem;
        right: .5rem;
        background-color: white;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        text-align: center;
    }

    &__icon {
        margin-top: .7rem;

        path {
            fill: $color-gray2;
        }
    }
}