.u-margin-bottom-small {
    margin-bottom: 1rem;
} 

.u-margin-top-small {
    margin-top: 1rem;
}

.u-margin-right-small {
    margin-right: 1rem;
}

.u-margin-left-medium {
    margin-left: 2rem;
}