$color-pink: #FC00FF;
$color-orange: #DEA43E;
$color-blue: #31ADE4;

$color-gray-light: #EDF1F5;
$color-gray-light2: #bbc2c7;
$color-gray: #565C62;
$color-gray2: #595f64;
$color-gray-dark: #101112;

// FONT
$font-weight-light:	300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;

$open-sans: 'Open Sans Semibold', sans-serif;

$font-size-small: 1.3rem;
$font-size-regular: 1.8rem;
$font-size-large: 2rem;
